prefix: '&6&lDotMan >&r'

# Tên server để ghi log
server: 'server'

# Tên đơn vị tiền tệ
point-unit: 'xu'

# API gạch thẻ sử dụng
provider: thesieutoc

# Lượng points được cộng ứng với giá trị nạp
donate-amounts:
  10000: 10
  20000: 20
  50000: 50
  100000: 100
  200000: 200
  500000: 500
  1000000: 1000

# Công thức tính cho lệnh nạp thủ công
manual:
  # Số point tiêu chuẩn trên mỗi 1000 VNĐ
  # Đây là số point dùng để tính toán khuyến mãi
  # Mặc định: 1000 VNĐ = 1 point
  point-base: 1

  # Số point được nhận thêm trên mõi 1000 VNĐ khi nạp qua ngân hàng
  # Mặc định: 1000 VNĐ = 0.5 point
  point-extra: 0.5
  # Công thức tính khi nạp qua ngân hàng:
  # - Số point nhận được = Số point tiêu chuẩn + Số point được nhận thêm + (Số point tiêu chuẩn ⅹ Khuyến mãi)
  # Trong đó khuyến mãi là giá trị khuyến mãi được định nghĩa trong config.yml
  # Ví dụ: Nếu bạn đặt point tiêu chuẩn và nhận thêm là mặc định (1 và 0.5) và bạn đang bật khuyến mãi 50% (GTKM 0.5) thì:
  # - Số point nhận được = 1 + 0.5 + (1 ⅹ 0.5) = 2 point


# Giá trị khuyến mãi
# 0: Không có khuyến mãi
# 0.5: Khuyến mãi 50%, ví dụ: nạp 100k được 150k
# 1: Khuyến mãi 100%, ví dụ: nạp 100k được 200k
# 1.5: Khuyến mãi 150%, ví dụ: nạp 100k được 250k
extra-rate: 0

# Thời gian kết thúc khuyến mãi
# Định dạng: dd/MM/yyyy HH:mm
extra-until: 06/09/2023 17:00

# Các loại thẻ được chấp nhận
card-types:
  viettel: true
  mobifone: true
  vinaphone: true
  vietnammobile: true
  garena: true
  zing: false
  vcoin: true
  gate: false

database:
  # Loại cơ sở dữ liệu
  # Các engine hỗ trợ: h2, mysql, mariadb
  # mặc định là h2 (lưu vào 1 file)
  engine: h2
  h2:
    file: dotman
  mysql:
    host: localhost
    port: 3306
    user: 'root'
    password: '123'
    database: dotman

# Bật/tắt tính năng thông báo người chơi khác khi nạp thẻ thành công
announce-charge: true

# Bật/tắt tính năng kiểm tra cập nhật phiên bản mới
check-update: true